<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue API Test</title>

    <script src="https://unpkg.com/vue@3.4.21"
        integrity="sha384-8CdW77YPqMZ3v22pThUIR22Qp1FB5oisZG2WE3OpE0l1fTHAIsdIwjQZFf/rmQ/B"
        crossorigin="anonymous"></script>
    <script type="module" defer src="../SCRIPT/getPosition.js"></script>
    <script type="module" defer src="../SCRIPT/fetchData.js"></script>
    <script type="module" defer src="../SCRIPT/translateWeatherData.js"></script>
    <script type="module" defer src="../SCRIPT/filterWeatherDataByTime.js"></script>
</head>

<body>
    <weather-by-time-component></weather-by-time-component>
    <div id="app">
        <!-- Position -->
        <div class="position">
            <h2>Position</h2>
            <!-- Show latitude and longitude -->
            <p v-if="longitude && latitude">
                Longitude: {{ longitude }} <br>
                Latitude: {{ latitude }}
            </p>
            <!-- Show fetching message if latitude or longitude is null -->
            <p v-else>
                Fetching position...
            </p>
        </div>

        <!-- Weather Data for Specific Times -->
        <div class="specific-weather">
            <h2>Weather Data for Specific Times</h2>
            <!-- Show fetching message if specificWeatherData is null -->
            <p v-if="specificWeatherData === null">Fetching specific weather data...</p>
            <!-- Show specific weather data -->
            <div v-else>
                <div v-for="(entry, index) in specificWeatherData" :key="index" class="weather-entry">
                    <h3>Tid: {{ entry.validTime }}</h3>
                    <ul>
                        <li v-for="(param, paramIndex) in entry.parameters" :key="paramIndex">
                            {{ param.name }}: {{ param.values[0] }} {{ param.unit }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Weather Data as Usual -->
        <div class="usual-weather">
            <h2>Weather Data as Usual</h2>
            <!-- Show fetching message if transformedData is null -->
            <p v-if="transformedData === null">Fetching usual weather data...</p>
            <!-- Show usual weather data -->
            <div v-else>
                <div v-for="(entry, index) in transformedData" :key="index" class="weather-entry">
                    <h3>Tid: {{ entry.validTime }}</h3>
                    <ul>
                        <li v-for="(param, paramIndex) in entry.parameters" :key="paramIndex">
                            {{ param.name }}: {{ param.values[0] }} {{ param.unit }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>